*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
h1 svg{
    width: 40px;
    vertical-align: bottom;
    margin-right: 1rem;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 1.5rem;
}
body{
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', sans-serif;
}
/*header*/
header{
    position: sticky;
    top: 0;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.5em;
    background-color: #161616;
    z-index: 1;
    color: #fff;
}
#menu, #close{
    width: 40px;
    float: right;
}
#asideMenu{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #000000;
    color: #fff;
    font-size: 1.5rem;
    visibility: hidden;
    z-index: 4;
}
#asideMenu ul{
    margin-top: 150px;
    list-style-type: none;
}
#asideMenu ul li{
    margin-top: 30px;
}

/*main*/
main{
    padding: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}
/*Partie hero*/
#hero{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.element{
    max-width: 400px;
}
.moreBtn{
    padding: 10px 15px;
    background-color: #000;
    border-radius: 20px;
    display: block;
    width: fit-content;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}
/*Liens principaux*/
nav a{
    display: inline-block;
    margin: 1rem;
    text-decoration: #000 underline dotted 2px;
}
li{
    margin-top: 10px;
}
.image{
    width: 40%;
    cursor: pointer;
    border: 1px solid #000;
}
nav ~ h1{
    text-transform:uppercase;
}
#bigger{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616c5;
    backdrop-filter: blur(8px);
    padding: 3rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    visibility: hidden;
}
#bigger img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: #fff solid 1px;
}
#bigger button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    color: #fff;
}
button:hover, a:hover{
    opacity: 0.6;
}

@media (max-width: 600px) {
    .image{
        width: 100%;
    }
    #bigger{
        padding: 10px;
    }
}